@page "/chord-constructor"
@rendermode InteractiveServer

<p role="status">Current Base: @chords</p>
<p role="status">Current Depth: @depth</p>

<p>
    <input type="text" value ="C" @oninput="(EventArgs) => {OnChange(EventArgs.Value.ToString());}"/>
    <button class="btn btn-primary" @onclick="GenerateChord">Search Chords</button>
    <button class="btn btn-primary" @onclick="LogExists">Does A E# C# exist?</button>
</p>

@code {
    private string root = "C";
    private Chord chordObj;
    private int depth = 0;
    private string chords;

    private void LogExists()
    {
        Console.WriteLine(chordObj.ChordExists("A/E#/C#", chordObj.GetRoot()));
    }

    private void OnChange(string Value)
    {
        root = Value;
    }

    private void GenerateChord()
    {
        try
        {
            chordObj = new Chord(root.Split(' '));
            chords = chordObj.ToString();
            depth = chordObj.MaxDepth();
        }
        catch (ArgumentException ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
