p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.chord-list {
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-flow: column;

    border: 1px solid;
    margin: 5px;

    justify-content: space-between;
}

.chord-row {
    justify-content: space-between;
    padding: 3px;
    
}
.chord-row th {
    border-width: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.piano-keys {
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    grid-gap: 10px;
}


#AllKeys {
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
}

.RightFacingKey {
    height: 350px;
    width: 60px;
    padding: 20px;
}

.LeftFacingKey {
    height: 350px;
    width: 60px;
    padding: 20px;
}

.MiddleKey {
    height: 350px;
    width: 60px;
    padding: 20px;
}

.BlackKey {
    height: 250px;
    width: 30px;
    background-color: black;
    z-index: 999;
    position: absolute;
    border-color: black;
}

